* {
  padding: 0;
  margin: 0;
}

/* Navbar Section Start */
.main-menu .logo {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  font-style: normal;
  color: #020b2b;
}

.main-menu ul li a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  color: #00098a;
}

.main-menu ul li a:hover {
  color: #f01543;
}

.setWidth {
  width: 300px !important;
}

.dropdown-menu {
  position: absolute; /* Needs to be positioned for z-index to work */
  z-index: 999; /* High z-index to ensure it appears on top */
  background-color: white;
}

/* Navbar Section End */

/* Banner Section Start */
.banner {
  background-image: url("/images/banner-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5d3cd;
  padding: 50px 0px;
}

.banner h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 68px;
  line-height: 90px;
  font-weight: 800;
  font-style: normal;
  color: #fa5449;
}

.banner .btn-primary {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  background-color: #fa5449;
  border: none;
  padding: 10px 15px;
}
.banner .btn-primary:hover {
  color: #fa5449;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

/* Banner Section End */

/* Category Slider Section Start */
.category h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
  padding-bottom: 30px;
}
.category .item {
  text-align: center;
}

.category h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
}

.category .item:hover,
.category .item:hover h4 {
  background-color: #f01543;
  color: #ffffff;
  border-radius: 10px 10px;
}

/* Category Slider Section End */

/* Features Slider Section Start */

.features h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
  padding-bottom: 30px;
  text-align: center;
}

.features h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
}
.features .item .card {
  overflow: hidden;
  position: relative;
}
.features .item .card .img {
  overflow: hidden;
  position: relative;
}

.features .item .card .img img {
  transition: transform 0.5s ease;
  width: 100%;
  height: auto;
}

.features .item .card:hover .img img{
  transform: scale(1.1);
}

/* New CSS for animated background color effect */
.features .item .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    30deg,
    rgba(207, 218, 217, 0),
    rgba(255, 255, 255, 0.1) 100%
  );
  transition: left 0.5s ease-in-out;
  z-index: 1;
}

.features .item .card:hover::before {
  left: 100%;
  transition: left 0.5s ease-in-out; /* Ensuring smooth transition back */
}

/* Features Slider Section End */

/* Promotion Section Start */
.promotion {
  background-image: url("/images/promotions-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.promotion h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}
/* Promotion Section End */

/* Traditional Food Section Start */
.traditional h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
  text-align: center;
}

.traditional .navbar-nav .nav-link.active {
  background-color: #f01543;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 5px;
}

.traditional .navbar .navbar-nav li a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  color: #80858e;
}

.traditional .card .traditional-img{
  position: relative;
  overflow: hidden;
}

.traditional .card .traditional-img img{
  transition: transform 0.5s ease;
  width: 100%;
  height: auto;
}

.traditional .card:hover .traditional-img img{
  transform: scale(1.1);
}

.traditional .card h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 800;
  font-style: normal;
  color: #f01543;
}

.traditional .card h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
}

.traditional .card p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  color: #838891;
}

.traditional .btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  background-color: #f01543;
  color: #ffffff;
  padding: 10px 15px;
}

.traditional .btn:hover {
  background-color: #ffffff;
  color: #f01543;
  border: 1px solid #f01543;
}

/* Traditional Food Section End */

/* Work Section Start */
.work {
  background-image: url("/images/work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.work h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.work .card {
  background-color: #0d1634;
  margin: 10px;
  padding: 30px 20px;
  border: 1px solid #ac8b8b;
  border-radius: 20px 40px 20px 20px;
  color: #ffffff;
}

.work .card:hover {
  background-color: #f53546;
}

.work .card h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.work .card p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

/* Work Section End */

/* Accordion Section Start */
.accordion-section {
  background-color: #f7f7f7;
}

.accordion-section h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

.accordion-section .accordion h2 button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
}

.accordion-section .accordion-body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #8f939b;
}

.accordion-section .success1 {
  background-image: url("/images/success1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.accordion-section .success2 {
  background-image: url("/images/success2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #080c23;
}

/* Accordion Section End */

/* Customer Say Section Start */
.customer {
  background-color: #000929;
}

.customer h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: center;
}

.customer .item{
  background-color: #000929;
}

.customer .card-text{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  min-height: 25vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #747891;
}

.customer .card-text:hover{
  background-color: #1A223F;
  color: #FFFFFF;
}

.customer .card-body img{
  border: 2px solid #FFFFFF;
  border-radius: 20px 10px;
}

.customer .card-body h4 i {
  color: #ffb23e;
}

.customer .card-body h5 {
  color: #FFFFFF;
}

/* Customer Say Section End */

/* Latest section Start */
.latest .card {
  background-image: url("/images/blog-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease;
}

.latest .card .btn {
  color: #ffffff;
}

.latest .card:hover,
.latest .card:hover p,
.latest .card:hover a {
  transform: scale(1.01);
  color: #f01543;
}

.latest .latest-top h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
}

.latest .latest-top .btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  background-color: #f01543;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
}

.latest .latest-top .btn:hover {
  background-color: #ffffff;
  color: #f01543;
  border: 1px solid #f01543;
}

.latest .card p {
  padding-top: 120px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

/* Latest section End */

/* Blog Section Start */
.blog .card {
  background-image: url("/images/blog-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease;
}

.blog .card:hover {
  transform: scale(1.01);
}

.blog .card h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.blog .card p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.blog .card a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

/* Blog Section End */

/* Restaurant Section Start */
.restaurant {
  background-image: url("/images/rest-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.restaurant h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.restaurant p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.restaurant .btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 20px;
}

.restaurant .btn:hover {
  color: #ffffff;
  background-color: #000000;
}

/* Restaurant Section End */

/* Footer Section Start */
.footer {
  background-image: url("/images/Footers-bg.png");
  background-size: cover;
  background-repeat: repeat;
}

.footer h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.footer h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.footer p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.footer a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.footer .content p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  color: #9ea3ae;
  text-align: center;
}
/* Footer Section End */













/* Common Banner Section Start */
.commonBanner {
  background-image: url("/images/inner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.commonBanner h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.commonBanner h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}
/* Common Banner Section End */












/* Menu File */
/* Menu Section Start */
.menu .card h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
}

.menu .card{
  overflow: hidden;
  position: relative;
}
.menu .card .menu-img{
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.menu .card .menu-img img {
  transition: transform 0.5s ease;
  width: 100%;
  height: auto;
}

.menu .card:hover .menu-img img{
  transform: scale(1.1);
}

/* New CSS for animated background color effect */
.menu .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    30deg,
    rgba(207, 218, 217, 0),
    rgba(255, 255, 255, 0.1) 100%
  );
  transition: left 0.5s ease-in-out;
  z-index: 1;
}

.menu .card:hover::before {
  left: 100%;
  transition: left 0.5s ease-in-out; /* Ensuring smooth transition back */
}


.menu .card .btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  border: 1px solid #edeef0;
}

.menu .card i {
  color: #fe7a57;
}

.menu .card .btn i {
  color: #FFFFFF;
}

.menu .card:hover .btn {
  background-color: #f01543;
  color: #ffffff;
}
/* Menu Section End */













/* About FIle */
/* Our Story Section Start */
.our-story .our-story-content h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
}

.our-story .our-story-content p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #212529;
}

.our-story .our-story-content h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
}

.our-story .our-story-content h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  color: #7e8ba0;
}

/* Our Story Section End */

/* Process Food Order Section Start */
.process-food {
  background-image: url("../images/Process-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.process-food .process-food-content .set-location {
  background: linear-gradient(
    to bottom,
    #0d1634,
    #0d1634
  ); /* Initial background */
  border-radius: 10px;
  transition: background 0s ease;
}

.process-food .process-food-content .set-location:hover {
  background: linear-gradient(to bottom, #123456, #0d1634);
}

.process-food .process-food-content h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.process-food .process-food-content h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.process-food .process-food-content h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #7a7f8f;
}

.process-food .process-food-content i {
  font-size: 32px;
  color: #ffffff;
  background-color: #262e49;
  padding: 10px 15px;
  border-radius: 10px 10px;
}

/* Process Food Order Section End */

/* Popular Item Section Start */
.popular-item {
  background-color: #fefefe;
}
.popular-item h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
}

.popular-item .item {
  background-color: #ffffff;
  box-shadow: 1px 1px #f1f1f1;
  border-radius: 10px 10px;
  padding: 10px;
}

.popular-item .item .img {
  position: relative;
  overflow: hidden;
  border-radius: 10px 0px 0px 10px;
}

.popular-item .item .img img {
  transition: transform 0.5s ease;
  width: 100%;
  height: auto;
}

.popular-item .item:hover .img img {
  transform: scale(1.1);
}

.popular-item .item h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  font-style: normal;
  color: #000929;
}

.popular-item .item h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-style: normal;
  color: #4d5461;
}

.popular-item .item h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  font-style: normal;
  color: #000929;
}

.popular-item .item .btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  color: #767b88;
  border: 1px solid #edeef0;
}

.popular-item .item i {
  color: #fe7a57;
}

.popular-item .item .btn i {
  color: #767b88;
  background-color: #ffffff;
}

.popular-item .item:hover .btn {
  background-color: #f01543;
  color: #ffffff;
}

.popular-item .item:hover a i {
  background-color: #f01543;
  color: #ffffff;
}

/* Modal */
.popular-item .modal h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
}

.popular-item .modal .select-size {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  color: #212529;
  text-align: center;
  justify-content: center;
}

.popular-item .modal .form-check {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
}

.popular-item .modal .label {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  color: #212529;
}
/* Popular Item Section End */











/* Contact File */
/* Contact Section Start */
.contact h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  font-style: normal;
  color: #000929;
}

.contact i {
  font-size: 80px;
}
/* Contact Section End */

/* Login File */
/* Login Section Start */
.login .login-img {
  background-image: url("/images/login-page-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login .login-img .btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.login .login-content h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  color: #1a1a1a;
}

.login .login-content p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #979797;
}
/* Login Section End */
